root = true

# Markdown is kept as 2 to ease use of frontmatter.
[*]
indent_style = space
indent_size = 2

[*.{html,md}]
indent_size = 4

[resources/**.md]
# For YAML frontmatter.
indent_size =2

[Makefile]
indent_style = tab
indent_size = 4
