{% assign repo_parts = include.repo_nwo | split: '/' %}
{% assign username = repo_parts[0] %}
{% assign repo_name = repo_parts[1] %}
{% assign theme_color = '3218b1' %}
<a href="https://github.com/{{ include.repo_nwo }}">
    <img src="https://img.shields.io/static/v1?label={{ username }}&amp;message={{ repo_name }}&amp;color={{ theme_color }}&amp;logo=github"
        alt="repo badge">
    <img src="https://img.shields.io/github/stars/{{ username }}/{{ repo_name }}?style=social" alt="stars badge">
    <img src="https://img.shields.io/github/forks/{{ username }}/{{ repo_name }}?style=social" alt="forks badge">
</a>{% comment -%} TODO This belongs in theme for reuse {%- endcomment %}
