{%- comment -%} TODO: Convert to table {%- endcomment -%}

{% if include.key_links %}
    <h2>Key links</h2>

    {% assign homepage = include.key_links.homepage %}
    {% assign docs = include.key_links.docs %}
    {% assign wiki = include.key_links.wiki %}
    {% assign repo = include.key_links.repo %}
    {% assign packages = include.key_links.packages %}
    {% assign learn_x = include.key_links.learn_x %}
    {% assign cheatsheet = include.key_links.cheatsheet %}
    {% assign tutorials_point = include.key_links.tutorials_point %}
    {% assign rosetta_code = include.key_links.rosetta_code %}

    <ul>
        {% if homepage %}
            <li>
                <b>Homepage:</b> <a href="{{ homepage }}">{{ homepage }}</a>
            </li>
        {% endif %}

        {% if docs %}
            <li>
                <b>Docs:</b> <a href="{{ docs }}">{{ docs }}</a>
            </li>
        {% endif %}

        {% if wiki %}
            <li>
                <b>Wiki:</b> <a href="{{ wiki }}">{{ wiki }}</a>
            </li>
        {% endif %}

        {% if repo %}
            <li>
                <b>Repo:</b> <a href="{{ repo }}">{{ repo }}</a>
            </li>
        {% endif %}

        {% if packages %}
            <li>
                <b>Packages index:</b> <a href="{{ packages }}">{{ packages }}</a>
            </li>
        {% endif %}

        {% if learn_x %}
            <li>
                <b>Learn X in Y Minutes:</b> <a href="{{ learn_x }}">{{ learn_x }}</a>
            </li>
        {% endif %}

        {% if cheatsheet %}
            <li>
                <b>Cheatsheet:</b> <a href="{{ cheatsheet }}">{{ cheatsheet }}</a>
            </li>
        {% endif %}

        {% if tutorials_point %}
            <li>
                <b>Tutorials Point:</b> <a href="{{ tutorials_point }}">{{ tutorials_point }}</a>
            </li>
        {% endif %}

        {% if rosetta_code %}
            <li>
                <b>Rosetta Code:</b> <a href="{{ rosetta_code }}">{{ rosetta_code }}</a>
            </li>
        {% endif %}
    </ul>

{% endif %}
