{% assign homepage = include.key_links.homepage %}
{% assign docs = include.key_links.docs %}
{% assign wiki = include.key_links.wiki %}

{% assign repo_nwo = include.key_links.repo_nwo %}

{% assign pkg_registry = include.key_links.pkg_registry %}
{% assign pkg_url = include.pkg_url %}

{% assign wikipedia = include.key_links.wikipedia %}
{% assign learn_x = include.key_links.learn_x %}
{% assign devhints = include.key_links.devhints %}
{% assign tutorials_point = include.key_links.tutorials_point %}
{% assign rosetta_code = include.key_links.rosetta_code %}

<ul>
    {%- if homepage and homepage != '' %}
        <li>
            🏠 Homepage:
            <a href="{{ homepage }}">{{ homepage }}</a>
        </li>
    {% endif -%}

    {%- if docs and docs != '' %}
        <li>
            📗 Docs:
            <a href="{{ docs }}">{{ docs }}</a>
        </li>
    {% endif -%}

    {%- if wiki and wiki != '' %}
        <li>
            📓 Wiki:
            <a href="{{ wiki }}">{{ wiki }}</a>
        </li>
    {% endif -%}

    {%- if repo_nwo and repo_nwo != '' %}
        <li>
            👨‍💻 Repo:
            {% include github-shields.html repo_nwo=repo_nwo %}
        </li>
    {% endif -%}

    {%- if pkg_registry and pkg_registry != '' %}
        <li>
            📦 Packages registry:
            <a href="{{ pkg_registry }}">{{ pkg_registry }}</a>
        </li>
    {% endif -%}
    
    {%- if pkg_url and pkg_url != '' %}
        <li>
            📦 Package URL:
            <a href="{{ pkg_url }}">{{ pkg_url }}</a>
        </li>
    {% endif -%}

    {%- if wikipedia and wikipedia != '' %}
        <li>
            🌐 <a href="{{ wikipedia }}">Wikipedia</a>
        </li>
    {% endif -%}

    {%- if learn_x and learn_x != '' %}
        <li>
            ⌛ <a href="{{ learn_x }}">Learn X in Y Minutes</a>
        </li>
    {% endif -%}

    {%- if devhints and devhints != '' %}
        <li>
            🗒️ <a href="{{ devhints }}">DevHints cheatsheet</a>
        </li>
    {% endif -%}

    {%- if tutorials_point and tutorials_point != '' %}
        <li>
            👨‍🎓 <a href="{{ tutorials_point }}">Tutorials Point</a>
        </li>
    {% endif -%}

    {%- if rosetta_code and rosetta_code != '' %}
        <li>
            🔁 <a href="{{ rosetta_code }}">Rosetta Code</a>
        </li>
    {% endif -%}
</ul>
