<ul>
{%- for link in include.links %}
    <li>
        <a href="{{ link.url }}">
            {{ link.title }}
        </a>

        {%- if link.description and link.description != '' %}
            <ul>
                {%- comment -%} Borrowed from Minima's blockquote CSS {%- endcomment -%}
                <li style="color: #828282;">
                    {%- comment -%} Remove the `p` tag that `markdownify` generates - to avoid the unnecessary spacing. Maybe not need after adding newline_to_br ? {%- endcomment -%}
                    {{ link.description | newline_to_br
                        | markdownify
                        | replace: '<p>', ''
                        | replace: '</p>', '' }}
                </li>
            </ul>
        {% endif -%}
    </li>
{% endfor -%}
</ul>
