---
layout: page
---

{{ content }}

{% include key-links.html key_links=page.key_links %}

{% include links-list.html links=page.links %}

{% if page.tutorials %}
    <h2>Tutorials</h2>

    {% include links-list.html links=page.tutorials %}
{% endif %}

{% if page.blog_posts %}
    <h2>Blog posts</h2>

    {% include links-list.html links=page.blog_posts %}
{% endif %}

{% if page.playgrounds %}
    <h2>Online playgrounds</h2>

    {% include links-list.html links=page.playgrounds %}
{% endif %}

{% for section in page.link_sections %}
    <h2>{{ section.title }}</h2>

    {% include links-list.html links=section.links %}
{% endfor %}
