---
layout: page
---

{% if page.byline and page.byline != '' %}
    <span>Byline: </span>

    {% include quote.html message=page.byline %}
{% endif %}

{% if page.wikipedia-excerpt and page.wikipedia-excerpt != '' %}
    <span>Wikipedia excerpt: </span>

    {% include quote.html message=page.wikipedia-excerpt %}
{% endif %}

{% if page.key_links %}
    <h3>Key links</h3>

    {% include key-links.html key_links=page.key_links %}
{% endif %}

{% if page.links and page.links.size != 0 %}
    <h3>Links</h3>

    {% include links-list.html links=page.links %}
{% endif %}

{%- if page.tutorials and page.tutorials.size != 0 %}
    <h3>Tutorials</h3>

    {% include links-list.html links=page.tutorials %}
{% endif -%}

{%- if page.blog_posts and page.blog_posts.size != 0 %}
    <h3>Blog posts</h3>

    {% include links-list.html links=page.blog_posts %}
{% endif -%}

{%- if page.playgrounds and page.playgrounds.size != 0 %}
    <h3>Online playgrounds</h3>

    {% include links-list.html links=page.playgrounds %}
{% endif -%}

{%- for section in page.link_sections %}
    <h3>{{ section.title }}</h3>

    {% include links-list.html links=section.links %}
{% endfor -%}

{{ content }}
